force-app/main/default/flows/Generate_Capital_Call_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Automates pro-rata capital call allocation across commitments</description>
    <interviewLabel>Generate Capital Call Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Capital Call Lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Funds</name>
        <label>Get All Funds</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capital_Call_Input_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SK_ACH_Fund__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Capital_Call_Input_Screen</name>
        <label>Capital Call Input</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Capital_Call_Lines_Action</targetReference>
        </connector>
        <fields>
            <name>fundInput</name>
            <choiceReferences>Fund_Dynamic_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Fund</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>capitalCallAmountInput</name>
            <dataType>Currency</dataType>
            <fieldText>Capital Call Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(11, 130, 71);&quot;&gt;✅ Capital Call Lines have been successfully generated!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Funds</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <actionCalls>
        <name>Generate_Capital_Call_Lines_Action</name>
        <label>Generate Capital Call Lines</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>CapitalCallService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>fundId</name>
            <value>
                <elementReference>fundInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>capitalCallAmount</name>
            <value>
                <elementReference>capitalCallAmountInput</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>Fund_Dynamic_Choices</name>
        <collectionReference>Get_All_Funds</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SK_ACH_Fund__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
</Flow>
