force-app/main/default/flows/Raise_Funds_Create_Commitment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Flow to create a new commitment for a fund with all required fields</description>
    <label>Raise Funds - Create Commitment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Commitment</name>
        <label>Create Commitment</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_ACH_Fund__c</field>
            <value>
                <elementReference>fundInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SK_ACH_Commitment_Amount__c</field>
            <value>
                <elementReference>commitmentAmountInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SK_ACH_Investor__c</field>
            <value>
                <elementReference>investorInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SK_ACH_Commitment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SK_ACH_Commitment_Type__c</field>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SK_ACH_Commitment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>SK_ACH_Commitment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Funds</name>
        <label>Get All Funds</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Investors</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SK_ACH_Fund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Investors</name>
        <label>Get All Investors</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commitment_Input_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Commitment_Input_Screen</name>
        <label>Commitment Input Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Commitment</targetReference>
        </connector>
        <fields>
            <name>fundInput</name>
            <choiceReferences>Fund_Dynamic_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Fund</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>investorInput</name>
            <choiceReferences>Investor_Dynamic_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Investor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>commitmentAmountInput</name>
            <dataType>Currency</dataType>
            <fieldText>Commitment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 128, 0);&quot;&gt;✓ Commitment created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Funds</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <dynamicChoiceSets>
        <name>Fund_Dynamic_Choices</name>
        <collectionReference>Get_All_Funds</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SK_ACH_Fund__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Investor_Dynamic_Choices</name>
        <collectionReference>Get_All_Investors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
</Flow>
